<div id="list-ncrp-data">

  <div class="nav-alignment">
    <app-nav-bar></app-nav-bar>
  </div>


  <div class="card m-3">

    <div class="card-container card-body">
      <h1 class="mb-5">List Of NCRP Data</h1>

      <table id="cdrDataTable" datatable [dtOptions]="dtOptions"
      class="row-border hover table table-striped table-sm">
          <thead>
              <tr>
                  <th>Crime No</th>
                  <th>Complaint Category</th>
                  <th>Complaint Date</th>
                  <th>Name</th>
                  <th>Mobile No</th>
                  <th>Station Name</th>

              </tr>
          </thead>

          <tbody>
              <tr *ngFor="let val of items">
                  <td (click)="redirectToCdrData(val.crime_petition_no)">{{ val.crime_petition_no }}</td>

                  <td>{{ val.category_of_complaint }}</td>

                  <td>{{ val.complaint_date }}</td>

                  <td>{{ val.complaint_name }}</td>

                  <td>{{ val.complaint_mobile_no }}</td>

                  <td>{{ val.station_name }}</td>
              </tr>
          </tbody>
      </table>
    </div>

  </div>



</div>



