
<div class="col-md-12" id="change-password">

  <app-header-bar></app-header-bar>

  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form style="width: 280px;"
      name="form"
      #f="ngForm"
      novalidate
      [formGroup]= "changePasswordForm"
    >
      <div class="form-group">
        <label for="username">Enter Email ID</label>
        <input
          type="email"
          class="form-control"
          name="emailId"
          formControlName="emailId"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          formControlName="password"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          name="confirmPassword"
          formControlName="confirmPassword"
          required
        />

      </div>
      <div class="form-group" style="margin-top: 10px;">
        <button class="btn btn-primary btn-block"
        (click)="changePassword()"
        >
          Confirm
        </button>
      </div>
    </form>
  </div>
</div>
