.sidebar {
  height: 100%;
  /* width: 20%; */
  position: fixed;
  left: 0;
  background-color: #333;
  top: 0;
  float: left;
  overflow: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 2px 0px 0px 20px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}
